* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container {
  max-width: 1199px;
  margin: auto;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  margin-right: 30px;
}

.header__content li {
  list-style: none;
  padding: 55px 15px;
}

nav li a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}

.container .button {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  padding: 20px 50px;
  height: 60px;
  width: 200px;
  text-transform: uppercase;
  border-radius: 40px;
  transition: all 0.5s;
  color: #fff;
}

.container .button:hover {
  background-position: right center;
}

header a span {
  display: inline-block;
  transition: all 1s;
}

header a:hover {
  color: #f55f8d;
}

header a:hover span {
  animation: upToDown 0.3s;
  color: #f55f8d;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* CAROUSEL  */
.carousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
}

.carousel .container {
  max-width: 1199px;
  margin: auto;
}

.carousel__content {
  display: flex;
  align-items: center;
}

.carousel__left {
  width: 60%;
}

.carousel__left .title {
  text-align: left;
}

.carousel__left .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.carousel__left .title h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.carousel__article p {
  font-size: 18px;
  margin-bottom: 15px;
}

.carousel__content ul {
  margin-bottom: 20px;
}

.carousel__content li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
  list-style: none;
}

.carousel__article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}

.carousel .carousel__button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  height: 60px;
  width: 200px;
  transition: all 0.5s;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
}

.carousel__button a {
  color: #fff;
  text-decoration: none;
  align-items: center;
}
.carousel .carousel__button:hover {
  background-position: right center;
}

.carousel__right {
  width: 40%;
  margin-left: 50px;
}

.carousel__right img {
  width: 570px;
}

/* SERVICES */
.services {
  padding: 115px 0 0;
}

.services .text {
  text-align: center;
}

.services .text p {
  color: rgb(234, 77, 103);
  font-size: 20px;
  font-weight: bold;
}

.services .text h2 {
  color: black;
  font-size: 80px;
}

.services__container {
  max-width: 1199px;
  margin: auto;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.services .services__item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transition: all 0.5s;
  border: 3px solid transparent;
}

.services__item:hover {
  transform: translateY(-20px);
  border-image: url(../img/br.png) 1 round;
}
.services__item p {
  text-align: center;
}

.services__item p:first-of-type {
  font-size: 20px;
  font-weight: bold;
}

.services__item p:last-of-type {
  color: gray;
}

/* INTRO */

.intro {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding: 115px 0 85px;
  overflow: hidden;
}
.intro__container {
  max-width: 1199px;
  margin: auto;
}
.intro__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.intro__left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.intro img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.intro__right {
  width: 50%;
}

.intro__right .title {
  text-align: left;
}

.title {
  display: block;
}
.intro .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  margin-bottom: 15px;
}

.intro .title h3 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.intro__right p {
  margin-bottom: 15px;
}

.intro__right li{
  list-style: none;
}
.intro__right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
.flaticon-check::before {
  content: "\f120";
}
.intro__right .button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
}

/* NUMBER */

.number {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.container {
  max-width: 1199px;
  margin: auto;
}

.number__content {
  display: flex;
  justify-content: space-around;
}

.number__item {
  width: 25%;
}

.flaticon-smile:before {
  content: "\f10c";
}

.number__item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}

.number__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}

.number__item p:last-of-type {
  color: #262626;
  font-size: 18px;
}

/* FEATURES */

.features {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 115px 0 0;
  overflow: hidden;
}

.container {
  max-width: 1199px;
  margin: auto;
}

.features__content {
  display: flex;
}

.features__left,
.features__right {
  width: 50%;
}
.features__left .title {
  text-align: left;
}

.features .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.features .title h4 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.features__item {
  padding: 0 50px 30px 0;
}

.features__item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}

.features__item h5 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}

.features__item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}
.features__item {
  visibility: visible;
  animation-duration: 2s;
  animation-delay: 0.4s;
  animation-name: fadeInRight;
}



.features__bg .text {
  position: relative;
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.features__bg .text::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.features__bg {
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.features__bg:hover {
  padding-left: 25px;
  z-index: 1;
  transition: all 2s;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  
}



.features__banner {
  margin-right: -80px;
}

.features__banner img {
  max-width: 100%;
  animation: move2 5s infinite;

}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
}

50% {
    transform: rotate(-1deg) translate(-2px, -2px);
}
100% {
    transform: rotate(1deg) translate(2px, 2px);
}
  
}


/* portfolio */

.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  overflow: hidden;
  padding: 115px 0 0;
}

.portfolio__content {
  display: grid;
  grid-template-columns: 600px 600px 800px;
  grid-template-rows: 400px 200px 280px;
  gap: 20px;
}

.portfolio__item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.portfolio__item5 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.portfolio__item6 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.portfolio .container {
  max-width: 1199px;
  margin: auto;
}


.portfolio .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.portfolio .title h5 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.portfolio .portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__item1 {
  grid-column: 1 / span 2;
}

.portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}

.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}

.portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.portfolio__icon a {
  color: #fff;
}
.portfolio__item:hover .portfolio__icon {
  transform: translateY(0);
}

.portfolio__text {
  position: absolute;
  color: #fff;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
}

.portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}



/* BLOG */

.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding: 150px 0 50px;
}

.blog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.owl-item {
  width: 379.667px;
  margin-right: 30px;
}
.owl-item img {
  display: block;
  width: 100%;
}

.blog .title {
  text-align: center;
}

.blog .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.blog .title h6 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.header img {
  border-radius: 8px;
}

.blog__item .blog__header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.blog__body h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.blog__footer p:first-of-type span {
  color: #f55f8d;
}

/* FOOTER */

.footer {
  background-image: url(../img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

.footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1199px;
  margin: auto;
}

.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}

.footer__text,
.footer__form {
  width: 50%;
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}

.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.5s;
}

.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  cursor: pointer;
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
  max-width: 1199px;
  margin: auto;
}

.footer__item {
  width: 25%;
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  text-decoration: none;
}

.footer__contact li{
display: flex;
align-items: center;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}

.footer__item li {
  padding: 0.5rem 0;
  list-style: none;
}


.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer__copyright .footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__copyright .container {
  max-width: 1199px;
  margin: auto;
}

.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
